.root {
  position: relative;
  height: 100%;
  .background {
    position: absolute;
    background: url('./background.png');
    height: 100%;
    width: 100%;
    .background_inner {
      height: 100%;
      opacity: 0.9;
      background: #FF6500;
    }
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;

    .logo {
      background: url('./logo.svg');
      background-size: 121px 119px;
      width: 121px;
      height: 119px;
      margin-bottom: 40px;
    }

    .all_about, .oranges {
      font-family: PTSerif-BoldItalic;
      font-style: italic;
      display: flex;
      align-items: center;
      height: 60px;
      line-height: 0;
      &.all_about {
        font-size: 36px;
      }
      &.oranges {
        line-height: 0;
        font-size: 120px;
      }
    }

    .description {
      margin-top: 40px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      font-family: OpenSans;
      font-size: 24px;
      line-height: 24px;
    }

    .separator {
      background: url('./separator.svg');
      width: 203px;
      margin-top: 75px;
    }
  }
}
