.root {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 70px 0;
  .caption {
    text-transform: uppercase;
    color: #FE7502;
    font-size: 54px;
    font-family: BebasNeueBold;
    font-weight: bold;
  }
  .separator {
    background: url('./separator.svg');
    width: 203px;
    margin-top: 14px;
  }
  .content {
    display: flex;
    margin-top: 43px;
    .block {
      width: 337px;
      &:not(:first-of-type) {
        margin-left: 62px;
      }
      .header {
        font-size: 28px;
        font-weight: bold;
        font-family: Roboto-Bold;
        font-size: 28px;
        color: #2B2425;
      }
      .description {
        margin-top: 15px;
        font-size: 17px;
        font-family: Roboto-Regular;
        color: #2B2425;
        line-height: 25px;
      }
    }
  }
}
