.root {
  display: flex;
  align-items: center;
  font-family: OpenSans;
  font-size: 18px;
  .el {
    display: block;
    color: #FF6500;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 15px;
    &.logo {
      margin-left: 15%;
      div {
        background: url('./logo.svg');
        width: 50px;
        height: 49px;
      }
    }
    &.link {
      white-space: nowrap;
      padding-top: 28px;
      padding-bottom: 28px;
      border-bottom: 4px solid black;
      text-decoration: none;
    }
    &:nth-child(2) {
      margin-left: 66px;
    }
    &:nth-child(n+3) {
      margin-left: 75px;
    }
  }
}
